/* Default Light Theme */
body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Dark Mode */
body.dark-mode {
  background: #635b5b;
  color: #ffffff;
}

/* You can also adjust individual components like the navbar in dark mode */
body.dark-mode nav {
  background: #333;
}

body.dark-mode nav ul li a {
  color: white;
}

body.dark-mode nav ul li a:hover {
  color: yellow;
}
